body{
	font-family: 'Arial', sans-serif;
}

#GeeMailHeader{
	background-color: lightblue;
}

#GeeMailText{
	color: blue;
	font-style: italic;
	font-size: 400%;
	text-align: center;
	margin-bottom: 0px;
}

#GeeMailboxIcon{
	width: 50px;
	height: 53px;
}

#GeeMailInboxIcon{
	width: 64px;
	height: 64px;
	position: relative;
	float: left;
	bottom: 20px;
}

#GeeMailInbox{
	border-bottom-style: double;
	padding-bottom: 20px;
}

.messageBoxClass{
	border-style: groove;
	margin: 20px;
	padding: 5px;
}

.messageSubjectClass{
	font-weight: bold;
}

.messageDateClass{
	float: right;
}

.messageBodyClass{
	display: none;
	padding: 20px;
}